{{ head_html }}

<section id="co">
	<div class="formContainer">
		<div class="form-wrapper">
			<div class="card">
				<div class="card-header">
					<!-- Choix de la catégorie. -->
					<div id="forLogin" class="form-header">Se connecter</div>
					<div id="forRegister" class="form-header">S'inscrire </div>
				</div>

				<div class="card-body" id="formContainer">
					<!-- Formulaire de connexion -->
					<form id="loginForm">
						<!-- Adresse électronique. -->
						<input type="email" id="login_email" class="champs" placeholder="email" autocomplete="off" />
						<small>Error message</small>

						<!-- Mot de passe -->
						<input type="password" name="password" id="login_password" class="champs" placeholder="mot de passe" autocomplete="off" />
						<small>Error message</small> <br>

						<!-- Se souvenir de la connexion -->
						<label for="rememberme">Se souvenir de moi ?</label>
						<input id="rememberme" type="checkbox" />

						<!-- Afficher le mot de passe en clair -->
						<label for="showmdp">Afficher le mot de passe</label>
						<input id="showmdp" type="checkbox" />

						<!-- Mot de passe oublié -->
						<a href="#" id="missing_password" class="link" >Mot de passe oublié ?</a>

						<br />

						<button type="submit" class="formButton">Connexion</button>
					</form>

					<!-- Formulaire d'inscription -->
					<form id="registerForm" class="toggleform" action="" method="POST">
						<div class="form-control">
							<!-- Adresse électronique -->
							<input type="email" name="Email" class="champs" id="email" placeholder="email" />

							<i class="fas fa-check-circle"></i>
							<i class="fas fa-exclamation-circle"></i>

							<small>Error message</small>
						</div>

						<div class="form-control">
							<!-- Mot de passe -->
							<input type="password" name="password" class="champs" id="password" placeholder="mot de passe" />

							<i class="fas fa-check-circle"></i>
							<i class="fas fa-exclamation-circle"></i>

							<small>Error message</small>
						</div>

						<br />

						<div class="form-control">
							<!-- Confirmation du mot de passe -->
							<input type="password" name="password2" class="champs"  id="password2" placeholder="Confirmer Mot de passe" autocomplete="off"/>

							<i class="fas fa-check-circle"></i>
							<i class="fas fa-exclamation-circle"></i>

							<small>Error message</small>
						</div>

						<br />

						<!-- Se souvenir de la connexion -->
						<label for="rememberme1">Se souvenir de moi ?</label>
						<input id="rememberme1" type="checkbox" />

						<!-- Afficher le mot de passe en clair -->
						<label for="showmdp1">Afficher le mot de passe</label>
						<input id="showmdp1" type="checkbox" />

						<button type="submit" class="formButton">Inscription</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>