@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import "reset.css";

header { background-color: black;
         opacity: 0.1;
         height : 5em; 
}


body {background-color: skyblue;}

footer {
    margin-top: 5em;
    
}



// Formulaire 
#co{
    display: flex;

    justify-content: center;
    align-items: center;
    margin-top: 5em;

 }

.form-wrapper{
    // display: flex;
    justify-content: center;
    align-content: center;
    flex: auto;
}

.form-wrapper .card{
    width: 360px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.596);
}

// .card.show{
//     visibility: visible;
//     opacity: 1;    
// }

 small {
	color: #9c190a;
	position: absolute;
	visibility: hidden;
}

.error small {
	visibility: visible;
    width: 190px;
    font-size:1em ;
    font-weight: bold;
    }

.form-control i {
	visibility: hidden;
	position: absolute;
    left: 505px;
	
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
    left: 715px;
}

.form-control.error i.fa-exclamation-circle {
	color: #9c190a;
	visibility: visible;
}

.card-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px 0;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color:#f5f5f5;
    font-weight: bold;
    box-shadow:2px 2px 7px #d3f7ff71;
    border-radius: 50px;
}

.card-header .form-header{
    flex: 50%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}

.card-header .form-header.active{
   
    border-color: rgb(86, 218, 189);
    transition: border-color .3s, box-shadow .3s;
}

.card-header .form-header:hover{
    background-color: #4b494952;
}

.card-body{
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
}

form{
    flex: 0 0 100%;
}

.form-control:nth-of-type(2){
    margin-top: 50px;
}

.form-control:nth-of-type(3){
    margin-top: 50px;
}



// Pour s'inscrire 
.toggleform{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.champs{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 20px;
    color: #ffffff;
    transition: 0.3s;
}

.champs:hover{
    background: rgba(138, 138, 138, 0.356);
   
}

.link{
    color:white;
    font-size: 1.2em;
    position: relative;
    top : 6em;
 
    transition: 0.3s;
}

.link:hover{
   text-decoration: underline;
   color:rgba(221, 219, 219, 0.774);
}

.champs::placeholder{
    color: rgba(255, 255, 255, 0.589);
    font-size: 1.3em;
    
}

.formButton{
    border: 1px solid transparent;
    padding: 1rem 2rem;
    color:white;
    font-size: 1.2em;
    border-radius: 30px;
    margin-top: 10rem;
    transition: 0.3s;
    background-color: orangered;
}

.formButton:hover{
    transform: translateY(-5px);
    cursor: pointer;
}


// input#rememberme, label[for=rememberme]{float: right;}




form#loginForm {

  // label {font-family: sans-serif;
  //       display: inline-block;

  //   }  

  //   label[for=rememberme], input#rememberme {position: relative;  
  //              top : 6%;
  //                         }

  //   a {}
}









    
   
    
    